In [ ]:
# Import required libraries

import pandas as pd   # For data manipulation
import numpy as np    # For numerical operations
from pathlib import Path   # For file path manipulations
from sqlalchemy import create_engine, text    # For database interactions
from dotenv import load_dotenv   # For loading environment variables
import os        # For operating system interactions

In [ ]:
# Define directory paths 

DIR_WORKSPACE = Path.cwd().parents[0]
DIR_DATA = DIR_WORKSPACE / "data"
DIR_OUTPUT = DIR_DATA / "master_csv"
LISTING_FILE = DIR_DATA / "listing.csv"
MASTER_FILE = DIR_OUTPUT / "master_csv.csv"

In [ ]:
# Import and read the listing CSV file extracted from MSE website
df_ticker = pd.read_csv(LISTING_FILE)
df_ticker

,counter_id,ticker,name,date_listed,listing_price
0,MWAIRT001156,AIRTEL,AIRTEL MALAWI PLC,24-Feb-20,12.69
1,MWBHL0010029,BHL,BLANTYRE HOTELS PLC,25-Mar-97,0.84
2,MWFDHB001166,FDHB,FDH BANK PLC,3-Aug-20,10.00
3,MWFMB0010138,FMBCH,FMB CAPITAL HOLDINGS PLC,18-Sep-17,45.01
4,MWICON001146,ICON,ICON PROPERTIES PLC,21-Jan-19,8.75
5,MWILLV010032,ILLOVO,ILLOVO SUGAR MALAWI PLC,10-Nov-97,2.25
6,MWMPI0010116,MPICO,MPICO PLC,12-Nov-07,2.25
7,MWNBM0010074,NBM,NATIONAL BANK OF MALAWI,21-Aug-00,4.00
8,MWNBS0010105,NBS,NBS BANK PLC,25-Jun-07,2.60
9,MWNICO010014,NICO,NICO HOLDINGS PLC,11-Nov-96,2.00
10,MWNITL010091,NITL,NATIONAL INVESTMENT TRUST PLC,21-Mar-05,2.65
11,ZAE000255360,OMU,OLD MUTUAL LIMITED,26-Jun-18,1580.22
12,MWPCL0010053,PCL,PRESS CORPORATION PLC,9-Sep-09,14.89
13,MWSTD0010041,STANDARD,STANDARD BANK MALAWI PLC,29-Jun-98,3.25
14,MWSTL0010085,SUNBIRD,SUNBIRD TOURISM PLC,21-Aug-02,2.60
15,MWTNM0010126,TNM,TELEKOM NETWORKS MALAWI PLC,3-Nov-08,2.00

In [4]:
df_ticker.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   counter_id     16 non-null     object
 1   ticker         16 non-null     object
 2   name           16 non-null     object
 3   date_listed    16 non-null     object
 4   listing_price  16 non-null     float64
dtypes: float64(1), object(4)
memory usage: 772.0+ bytes

In [5]:
# Convert 'date_listed' column to datetime
df_ticker['date_listed'] = pd.to_datetime(df_ticker['date_listed'])
df_ticker.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   counter_id     16 non-null     object
 1   ticker         16 non-null     object
 2   name           16 non-null     object
 3   date_listed    16 non-null     datetime64[ns]
 4   listing_price  16 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 772.0+ bytes

C:\Users\ENVY\AppData\Local\Temp\ipykernel_25740\1249699423.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_ticker['date_listed'] = pd.to_datetime(df_ticker['date_listed'])

In [21]:
# df_ticker

In [ ]:
# Import and read the merged master prices CSV file from extracted daily price files from pdf reports
df_prices=pd.read_csv(MASTER_FILE)
df_prices

,counter_id,daily_range_high,daily_range_low,counter,buy_price,sell_price,previous_closing_price,today_closing_price,volume_traded,dividend_mk,dividend_yield_pct,earnings_yield_pct,pe_ratio,pbv_ratio,market_capitalization_mkmn,profit_after_tax_mkmn,num_shares_issue,trade_date,print_time
0,1,138.97,137.94,AIRTEL,0,137.96,138.54,137.98,79004.0,2,1.45,2.81,35.53,47.26,1517780,42722.110,1.100000e+10,9/19/2025,14:37:47
1,2,15.02,15.02,BHL,15.02,0,15.02,15.02,7042.0,0,0.00,-1.55,-64.44,1.36,88291.39,-1370.110,5.878255e+09,9/19/2025,14:37:47
2,3,637.95,637.91,FDHB,635,637.92,637.95,637.93,101411.0,4.73,0.74,1.68,59.44,45.2,4402374.87,74063.000,6.901031e+09,9/19/2025,14:37:47
3,4,1897.99,1897.99,FMBCH,1897.99,0,1897.99,1897.99,15133.0,3.64,0.19,2.53,39.45,14.18,4665733.92,118254.740,2.458250e+09,9/19/2025,14:37:47
4,5,17.94,17.94,ICON,0,17.94,17.94,17.94,18168.0,0.29,1.62,20.38,4.91,0.82,119839.2,24424.490,6.680000e+09,9/19/2025,14:37:47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26789,10,NaN,NaN,NITL,3650,NaN,3650.00,NaN,NaN,100,2.74,NaN,NaN,0.75,4927.5,-1071.020,1.350000e+08,6/29/2017,14:00:00
26790,11,NaN,NaN,PCL,NaN,57000,57000.00,NaN,NaN,1250,2.19,25.11,3.98,0.66,68545.82,17214.000,1.202558e+08,6/29/2017,14:00:00
26791,12,NaN,NaN,STANDARD,57001,60000,57001.00,NaN,NaN,2557,4.49,14.52,6.89,2.13,133763.2,19425.000,2.346682e+08,6/29/2017,14:00:00
26792,13,NaN,NaN,SUNBIRD TS,NaN,6500,6400.00,NaN,NaN,40,0.63,7.98,12.53,1.27,16741.29,1336.457,2.615826e+08,6/29/2017,14:00:00
26793,14,933.00,933.00,TNM TS CD,933,1070,933.00,933.00,172000.0,33,3.54,8.76,11.42,4.49,93677.4,8206.000,1.004045e+10,6/29/2017,14:00:00

# preprocess prices data before loading to database

In [8]:
# Rename 'counter' column to 'ticker' so that it matches the tickers dataframe
df_prices.rename(columns={'counter':'ticker'}, inplace=True)

In [9]:
# identify unique tickers in the prices dataframe
df_prices['ticker'].unique()

array(['AIRTEL', 'BHL', 'FDHB', 'FMBCH', 'ICON', 'ILLOVO', 'MPICO', 'NBM',
       'NBS', 'NICO', 'NITL', 'OMU', 'PCL', 'STANDARD', 'SUNBIRD', 'TNM',
       'OML', 'MPICO CD', 'NBM CD', 'NICO CD', 'PCL CD', 'Standard CD',
       'Sunbird CD', 'TNM CD', 'MPICO TS', 'BHL CD', 'BHL XD', 'NITL XD',
       'NITL CD', 'NBS TS', 'NICO TS', 'Sunbird', 'PCL TS', 'Sunbird H',
       'SUNBIRD H', 'StandardCD', 'SUNBIRDCD', 'NITL TS', 'SUNBIRD TS',
       'TNM TS', 'NBM XD', 'StandardTS', 'TNM TS XD', 'TNM TS CD',
       'FMB CA', 'Sunbird XD', 'PCL XD', 'MPICO XD', 'NICO XD',
       'Standard XD', 'TNM XD', 'FMBTS CA XD', 'Sunbird TS',
       'FMBTS CA CD', 'SunbirdXD TS', 'SunbirdCD TS', 'NBS-LA*'],
      dtype=object)

In [11]:
df_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26794 entries, 0 to 26793
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   counter_id                  26794 non-null  object
 1   daily_range_high            11200 non-null  float64
 2   daily_range_low             11200 non-null  float64
 3   ticker                      26794 non-null  object
 4   buy_price                   24998 non-null  object
 5   sell_price                  25201 non-null  object
 6   previous_closing_price      26793 non-null  float64
 7   today_closing_price         25135 non-null  float64
 8   volume_traded               25131 non-null  float64
 9   dividend_mk                 26592 non-null  object
 10  dividend_yield_pct          26593 non-null  float64
 11  earnings_yield_pct          26433 non-null  float64
 12  pe_ratio                    26433 non-null  float64
 13  pbv_ratio                   26780 non-null  object
 14  market_capitalization_mkmn  26793 non-null  object
 15  profit_after_tax_mkmn       26793 non-null  float64
 16  num_shares_issue            26764 non-null  float64
 17  trade_date                  26794 non-null  object
 18  print_time                  25544 non-null  object
dtypes: float64(10), object(9)
memory usage: 3.9+ MB

In [12]:
# modify all ticker symbols to uppercase so that they match with the tickers dataframe and avoid duplication issues
df_prices['ticker']= df_prices['ticker'].str.upper()

In [13]:
company_map={'AIRTEL':'Airtel Malawi plc', 'BHL':'Blantyre Hotels Plc', 'FDHB':'FDH Bank plc', 'FMBCH':'FMB Capital Holdings plc', 
       'ICON':'ICON Properties plc','ILLOVO':'Illovo Sugar Malawi plc', 'MPICO':'MPICO plc',
       'NBM':'National Bank of Malawi','NBS':'NBS Bank plc', 'NICO':'NICO Holdings plc','NITL':'National Investment Trust Plc',
       'OMU':'Old Mutual Limited', 'PCL':'Press Corporation plc', 'STANDARD':'Standard Bank Malawi plc','SUNBIRD':'Sunbird Tourism plc',
       'TNM':'Telekom Networks Malawi plc','OML':'Old Mutual Limited', 'MPICO CD':'MPICO plc',
       'NBM CD':'National Bank of Malawi', 'NICO CD':'NICO Holdings plc', 'PCL CD':'Press Corporation plc','STANDARD CD':'Standard Bank Malawi plc',
       'SUNBIRD CD':'Sunbird Tourism plc','TNM CD':'Telekom Networks Malawi plc', 'MPICO TS':'MPICO plc', 
       'BHL CD':'Blantyre Hotels Plc', 'BHL XD':'Blantyre Hotels Plc', 'NITL XD':'National Investment Trust Plc',
       'NITL CD':'National Investment Trust Plc','NBS TS':'NBS Bank plc', 'NICO TS':'NICO Holdings plc', 'PCL TS':'Press Corporation plc',
       'SUNBIRD H':'Sunbird Tourism plc','STANDARDCD':'Standard Bank Malawi plc', 'SUNBIRDCD':'Sunbird Tourism plc', 
       'NITL TS':'National Investment Trust Plc','SUNBIRD TS':'Sunbird Tourism plc','TNM TS':'Telekom Networks Malawi plc',
       'NBM XD':'National Bank of Malawi', 'STANDARDTS':'Standard Bank Malawi plc', 'TNM TS XD':'Telekom Networks Malawi plc', 
       'TNM TS CD':'Telekom Networks Malawi plc', 'FMB CA':'FMB Capital Holdings plc', 'SUNBIRD XD':'Sunbird Tourism plc',
       'PCL XD':'Press Corporation plc', 'MPICO XD':'MPICO plc','NICO XD':'NICO Holdings plc',
       'STANDARD XD':'Standard Bank Malawi plc', 'TNM XD':'Telekom Networks Malawi plc', 'FMBTS CA XD':'FMB Capital Holdings plc', 
       'FMBTS CA CD':'FMB Capital Holdings plc', 'SUNBIRDXD TS':'Sunbird Tourism plc', 'SUNBIRDCD TS':'Sunbird Tourism plc', 'NBS-LA*':'NBS Bank plc'}

In [14]:
# Map company names to the prices dataframe using the ticker symbols and convert to uppercase for consistency
df_prices['name']=df_prices['ticker'].map(company_map)
df_prices['name']= df_prices['name'].str.upper()
df_prices.sample(5)

,counter_id,daily_range_high,daily_range_low,ticker,buy_price,sell_price,previous_closing_price,today_closing_price,volume_traded,dividend_mk,dividend_yield_pct,earnings_yield_pct,pe_ratio,pbv_ratio,market_capitalization_mkmn,profit_after_tax_mkmn,num_shares_issue,trade_date,print_time,name
15692,13,NaN,NaN,PCL,0,1199.94,1199.94,1199.94,0.0,31,2.58,2.49,40.19,0.91,144299.77,3590.00,1.202558e+08,5/18/2021,15:04:48,PRESS CORPORATION PLC
13930,11,NaN,NaN,NITL,80.74,94.99,94.99,94.99,0.0,1.3,1.37,11.53,8.67,0.99,12823.65,1478.52,1.350000e+08,11/19/2021,14:36:32,NATIONAL INVESTMENT TRUST PLC
20490,7,NaN,NaN,NBS,12.01,12.1,12.01,12.01,0.0,0,0.00,4.86,20.57,3.03,34955.99,1699.14,2.910573e+09,9/27/2019,14:33:03,NBS BANK PLC
4911,16,NaN,NaN,TNM,16.05,16.99,16.02,16.02,0.0,0,0.00,-2.96,-33.79,3.85,160848.01,-4760.00,1.004045e+10,6/26/2024,14:48:38,TELEKOM NETWORKS MALAWI PLC
3139,4,450.0,450.0,FMBCH,450,0,449.96,450.00,4202048.0,10.99,2.44,5.45,18.35,4.78,1106212.5,60287.20,2.458250e+09,11/29/2024,14:51:36,FMB CAPITAL HOLDINGS PLC

In [15]:
# Create a mapping of company names to counter IDs from the tickers dataframe and add the counter_id to the prices dataframe 
ids={}
for i, j in zip(df_ticker['name'].values,df_ticker['counter_id'].values):
    ids[i]=j
df_prices['counter_id']=df_prices['name'].apply(lambda x:ids[x])
df_prices.head()

,counter_id,daily_range_high,daily_range_low,ticker,buy_price,sell_price,previous_closing_price,today_closing_price,volume_traded,dividend_mk,dividend_yield_pct,earnings_yield_pct,pe_ratio,pbv_ratio,market_capitalization_mkmn,profit_after_tax_mkmn,num_shares_issue,trade_date,print_time,name
0,MWAIRT001156,138.97,137.94,AIRTEL,0,137.96,138.54,137.98,79004.0,2,1.45,2.81,35.53,47.26,1517780,42722.11,1.100000e+10,9/19/2025,14:37:47,AIRTEL MALAWI PLC
1,MWBHL0010029,15.02,15.02,BHL,15.02,0,15.02,15.02,7042.0,0,0.00,-1.55,-64.44,1.36,88291.39,-1370.11,5.878255e+09,9/19/2025,14:37:47,BLANTYRE HOTELS PLC
2,MWFDHB001166,637.95,637.91,FDHB,635,637.92,637.95,637.93,101411.0,4.73,0.74,1.68,59.44,45.2,4402374.87,74063.00,6.901031e+09,9/19/2025,14:37:47,FDH BANK PLC
3,MWFMB0010138,1897.99,1897.99,FMBCH,1897.99,0,1897.99,1897.99,15133.0,3.64,0.19,2.53,39.45,14.18,4665733.92,118254.74,2.458250e+09,9/19/2025,14:37:47,FMB CAPITAL HOLDINGS PLC
4,MWICON001146,17.94,17.94,ICON,0,17.94,17.94,17.94,18168.0,0.29,1.62,20.38,4.91,0.82,119839.2,24424.49,6.680000e+09,9/19/2025,14:37:47,ICON PROPERTIES PLC

In [16]:
# Select and rename relevant columns for the prices_daily table in the database 

df_prices=df_prices[['counter_id','trade_date','previous_closing_price','daily_range_high','daily_range_low', 'today_closing_price', 'volume_traded']]

df_prices.rename(columns={'previous_closing_price':'open_mwk', 'daily_range_high':'high_mwk', 'daily_range_low':'low_mwk', 'today_closing_price':'close_mwk', 'volume_traded':'volume'}, inplace=True)

df_prices

C:\Users\ENVY\AppData\Local\Temp\ipykernel_25740\2877276527.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prices.rename(columns={'previous_closing_price':'open_mwk', 'daily_range_high':'high_mwk', 'daily_range_low':'low_mwk', 'today_closing_price':'close_mwk', 'volume_traded':'volume'}, inplace=True)

,counter_id,trade_date,open_mwk,high_mwk,low_mwk,close_mwk,volume
0,MWAIRT001156,9/19/2025,138.54,138.97,137.94,137.98,79004.0
1,MWBHL0010029,9/19/2025,15.02,15.02,15.02,15.02,7042.0
2,MWFDHB001166,9/19/2025,637.95,637.95,637.91,637.93,101411.0
3,MWFMB0010138,9/19/2025,1897.99,1897.99,1897.99,1897.99,15133.0
4,MWICON001146,9/19/2025,17.94,17.94,17.94,17.94,18168.0
...,...,...,...,...,...,...,...
26789,MWNITL010091,6/29/2017,3650.00,NaN,NaN,NaN,NaN
26790,MWPCL0010053,6/29/2017,57000.00,NaN,NaN,NaN,NaN
26791,MWSTD0010041,6/29/2017,57001.00,NaN,NaN,NaN,NaN
26792,MWSTL0010085,6/29/2017,6400.00,NaN,NaN,NaN,NaN
26793,MWTNM0010126,6/29/2017,933.00,933.00,933.00,933.00,172000.0

In [17]:
df_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26794 entries, 0 to 26793
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   counter_id  26794 non-null  object
 1   trade_date  26794 non-null  object
 2   open_mwk    26793 non-null  float64
 3   high_mwk    11200 non-null  float64
 4   low_mwk     11200 non-null  float64
 5   close_mwk   25135 non-null  float64
 6   volume      25131 non-null  float64
dtypes: float64(5), object(2)
memory usage: 1.4+ MB

In [18]:
# convert 'trade_date' column to datetime 
df_prices['trade_date'] = pd.to_datetime(df_prices['trade_date'])
df_prices.head(20)

C:\Users\ENVY\AppData\Local\Temp\ipykernel_25740\14237192.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prices['trade_date'] = pd.to_datetime(df_prices['trade_date'])

,counter_id,trade_date,open_mwk,high_mwk,low_mwk,close_mwk,volume
0,MWAIRT001156,2025-09-19,138.54,138.97,137.94,137.98,79004.0
1,MWBHL0010029,2025-09-19,15.02,15.02,15.02,15.02,7042.0
2,MWFDHB001166,2025-09-19,637.95,637.95,637.91,637.93,101411.0
3,MWFMB0010138,2025-09-19,1897.99,1897.99,1897.99,1897.99,15133.0
4,MWICON001146,2025-09-19,17.94,17.94,17.94,17.94,18168.0
5,MWILLV010032,2025-09-19,1791.47,NaN,NaN,1791.47,0.0
6,MWMPI0010116,2025-09-19,19.55,19.55,19.55,19.55,75077.0
7,MWNBM0010074,2025-09-19,10779.48,10800.01,10800.00,10800.01,80.0
8,MWNBS0010105,2025-09-19,1024.72,1024.72,1024.70,1024.71,144400.0
9,MWNICO010014,2025-09-19,1739.94,1739.93,1739.91,1739.92,102670.0
10,MWNITL010091,2025-09-19,2210.32,2541.87,2541.86,2541.87,3000.0
11,ZAE000255360,2025-09-19,2500.06,NaN,NaN,2500.06,0.0
12,MWPCL0010053,2025-09-19,6600.00,6600.00,6600.00,6600.00,862.0
13,MWSTD0010041,2025-09-19,6485.64,6483.50,6481.97,6482.51,4748.0
14,MWSTL0010085,2025-09-19,460.02,500.05,500.01,500.04,31008.0
15,MWTNM0010126,2025-09-19,34.84,34.84,29.98,31.35,112308.0
16,MWAIRT001156,2025-09-18,137.95,138.97,137.96,138.54,1070226.0
17,MWBHL0010029,2025-09-18,15.02,15.02,15.02,15.02,192958.0
18,MWFDHB001166,2025-09-18,637.94,637.96,637.92,637.95,300577.0
19,MWFMB0010138,2025-09-18,1897.97,1897.99,1897.98,1897.99,1939.0

In [ ]:
# Export cleaned dataframes to CSV files for database ingestion and verification
df_ticker.to_csv(DIR_DATA / "ticker_table.csv", index=False)
df_prices.to_csv(DIR_DATA / "prices_daily_table.csv", index=False)

# Creating tables and loading data into the database

In [ ]:
# Load environment variables for database connection 
load_dotenv()

PGHOST=os.getenv("PGHOST")
PGPORT=os.getenv("PGPORT","5432")
PGDATABASE=os.getenv("PGDATABASE")
PGUSER=os.getenv("PGUSER")
PGPASSWORD=os.getenv("PGPASSWORD")

In [54]:
# print("PostgreSQL Connection Settings:")
# print(f"Host: {PGHOST}")
# print(f"Port: {PGPORT}")
# print(f"Database: {PGDATABASE}")
# print(f"User: {PGUSER}")
# print(f"Password: {'[SET]' if PGPASSWORD else '[NOT SET]'}")

In [ ]:
# Create SQLAlchemy engine connection string for PostgreSQL
connection_string = f"postgresql+psycopg2://{PGUSER}:{PGPASSWORD}@{PGHOST}:{PGPORT}/{PGDATABASE}"
print("Connection psql string:", connection_string)

Connection psql string: postgresql+psycopg2://ENVY:@localhost:5432/mse_db

In [ ]:
# Create SQLAlchemy engine for database connection
engine = create_engine(
    connection_string,
    pool_pre_ping=True,
)

# Test the connection to the database
with engine.connect() as conn:
    who = conn.execute(text("SELECT current_user, current_database();")).fetchone()
    print("Connected as:", who)

Connected as: ('ENVY', 'mse_db')

In [ ]:
# create a tickers table in the database for storing ticker information
query = """CREATE TABLE IF NOT EXISTS tickers (
    counter_id TEXT PRIMARY KEY,
    ticker TEXT NOT NULL,
    name TEXT NOT NULL,
    date_listed DATE ,
    listing_price REAL
);"""
with engine.begin() as conn:
    conn.execute(text(query))

In [ ]:
# load the tickers dataframe into the tickers table in the database for further use
df_ticker.to_sql('tickers', engine, if_exists='replace', index=False)

16

In [ ]:
# Create prices_daily table in the database for storing daily price information
query="""CREATE TABLE IF NOT EXISTS prices_daily (
    counter_id TEXT REFERENCES tickers(counter_id),
    trade_date DATE NOT NULL,
    open_mwk REAL,
    high_mwk REAL,
    low_mwk REAL,
    close_mwk REAL,
    volume REAL
    );"""
with engine.begin() as conn:
    conn.execute(text(query))

In [ ]:
# load the prices dataframe into the prices_daily table in the database for further use
df_prices.to_sql('prices_daily', engine, if_exists='replace', index=False, chunksize=5000)

5794